(
    data: {
        "default_user": (
            username: "default_user",
            password: "$argon2i$v=19$m=4096,t=3,p=1$4+mvJ/WOClNE/ATyY5rEAhAQ9r2YlMAreuMJfKhKQUU$SvIR96YuI+f94QNwwPfGXET7AG8VCdADOf7YKkZ4IkQ",
            salt: [
                227,
                233,
                175,
                39,
                245,
                142,
                10,
                83,
                68,
                252,
                4,
                242,
                99,
                154,
                196,
                2,
                16,
                16,
                246,
                189,
                152,
                148,
                192,
                43,
                122,
                227,
                9,
                124,
                168,
                74,
                65,
                69,
            ],
            phone_number: "0784539872",
            role: StandardUser,
        ),
        "default_hr": (
            username: "default_hr",
            password: "$argon2i$v=19$m=4096,t=3,p=1$hJooqH3fjZDzGVfjhhps0anvioPbM8JSdFM/zeUKs6U$rZy7s6vz1oCj0jXELFT/U+/484i9YDta5H9OkLht3u8",
            salt: [
                132,
                154,
                40,
                168,
                125,
                223,
                141,
                144,
                243,
                25,
                87,
                227,
                134,
                26,
                108,
                209,
                169,
                239,
                138,
                131,
                219,
                51,
                194,
                82,
                116,
                83,
                63,
                205,
                229,
                10,
                179,
                165,
            ],
            phone_number: "0793175289",
            role: HR,
        ),
    },
)